@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: hsl(212, 45%, 89%);
    font-family: 'Outfit', sans-serif;
}

main {
    display: grid;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

article {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 320px;
    height: 500px;
    background: hsl(0, 0%, 100%);
    border-radius: 20px;
}

article h1 {
    text-align: center;
    margin: 5px 5px 15px 5px;
}

article p {
    color: hsl(220, 15%, 55%);
    font-weight: 400;
    text-align: center;
    margin: 0 20px 0 20px;
}

header img {
    width: 288px;
    height: 288px;
    margin: 15px 0 15px 0;
    border-radius: 20px;
}

footer {
    font-size: 1rem;
    text-align: center;
}

footer a {
    color: hsl(228, 45%, 44%);
    text-decoration: none;
}

footer p {
    margin-bottom: 5px;
}